*, .Í¼1 .cm-scroller {
  font-family: 'Consolas' !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}