.wrap {
  margin-bottom: 5px;
}
.row {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  color: var(--color-text-1);
  cursor: pointer;
}
.head {
  border-radius: 2px;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1), padding 0s linear;
  cursor: pointer;

  &:hover {
    background-color: var(--color-fill-2);
  }
}
.icon {
  font-size: 16px;
}
.icon.expanded {
  transform: rotate(90deg);
}
.storage {
  color: rgb(var(--green-6));
}
.collection {
  color: rgb(var(--primary-6));
}
.text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.children {
  display: none;
  padding-left: 20px;
  margin-top: 5px;

  .row {
    color: var(--color-text-2);

    &:hover {
      background-color: var(--color-fill-1);
    }
  }
}
.children.expanded {
  display: block;
}
.active {
  background-color: var(--color-fill-1);
}