.wrap {
  padding: 0 12px;
}
.row {
  height: 34px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Consolas";

  &:hover {
    background-color: var(--color-fill-1);
  }
}
.col {
  flex: 1;
  padding: 0 10px;
}
.icon {
  padding: 10px;
  cursor: pointer;
}
.code {
  color: rgb(var(--gold-6));
}
.children {
  display: none;
  padding: 5px 10px;
  background-color: var(--color-fill-1);
  margin: 2px 0;

  pre {
    margin: 0;
  }
}
.expanded {
  .arrow {
    transform: rotate(90deg);
  }
  .children {
    display: block;
  }
}
