.left {
  width: 240px;
  border-right: 1px solid var(--color-neutral-3);
  padding: 16px;
  overflow: auto;

  & > * {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.main {
  flex: 1;
}
.icon {
  font-size: 16px;
  color: rgb(var(--gold-6));
}
.row {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: hidden;
}