.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: var(--color-bg-1);
  border-bottom: 1px solid var(--color-neutral-3);
}
